window {
    background-color: transparent;
}

#input {
    margin: 5px;
    margin-left:  300px;
    margin-right: 300px;
    background-color: #171a1f;
}

#inner-box {
    background-color: #171a1f;
}

#scroll {
    margin: 5px;
}

#text {
    margin: 5px;
} 
